<html>
  <title>Rabbit Dashboard</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <link href="https://fonts.googleapis.com/css?family=Share+Tech" rel="stylesheet">
<body>
<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="/">Rabbit Dashboard</a>
    </div>
  </div>
</nav>
<h1>New Rabbit</h1>

<form action="/rabbits" method="POST">

<input type="text" id="name" name="name" placeholder="name">
<br><br>
<input type="text" id="color" name="color" placeholder="color">
<br><br>
<input type="submit" name="submit" value="submit my quote">
<br><br>


</form>

</body>

</html>
